.upload {
    margin-left: 10px;
    margin-right: 10px;
}

#input-file-button {
    display: none;
}

#input-file-name {
    font-size: 14pt;
}

.logo {
    min-width: 250px;
    width: 35vw;
    margin-top: 40px;
}
