.upload {
    margin-left: 10px;
    margin-right: 10px;
}

#input-file-button {
    display: none;
}

#input-file-name {
    font-size: 14pt;
}

.logo {
    min-width: 250px;
    width: 25vw;
    margin-top: 40px;
    margin-bottom: 50px;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
